/* author: Waleed Alhindi */

.service_card:hover {
  border-radius: 5px;
  transform: scale(1.03);
}

.service_card{
  border-radius: 10px;
  box-shadow: 0px 2px 15px #d1d5db;
  color: black;
}

.search-bar{
  margin-top: 25px;
  width: 40%;
}

.px-4{
  padding-top: 4vh;
}

.filters-desktop{
  width: 20vh;
  float: left;
  box-shadow: 0px 2px 15px #d1d5db;
  border-radius: 10px;
  margin-left: 6vh;
  margin-right: 4vh;
  margin-top: 5vh;
  padding-left: 1vh;
  padding-right: 2vh;
  padding-top: 2pt;
  padding-bottom: 0%;
  background-color: #ffffff;
}

.filters-mobile{
  width: 34vh;
  box-shadow: 0px 2px 15px #d1d5db;
  border-radius: 25px;
  margin-left: 2vh;
  margin-right: 4vh;
  margin-top: 5vh;
  padding-left: 1vh;
  background-color: #ffffff;
}

.fltrs-dropdown{
  width: 100%;
  padding-left: 10px;
}

.szh-accordion__item-btn{
  font-size: 14pt;
  padding: 5%;
  width: 100%;
  padding-right: 2.5vh;
  padding-bottom:1.5vh;
}

.accFltrs{
  font-size: 11pt;
  cursor: pointer;
  align-items: center;
  margin: 0;
  text-align: left;
  color: black;
}

.r-div{
  height:100%;
  float:right;
  margin-right: 2vh;
}

.l-div{
  height:100%;
  float: left;
  margin-left: 1vh;
}

.floatFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  padding-bottom: 2vh;
}

.noSrvcsMsg{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  margin-top: 5vh;
  font-style: italic;
}

.bg-white{
  min-height: 100vh;
}

.im{
  display: block;
}