.service_card:hover {
  border-radius: 5px;
  transform: scale(1.06);
}

.service_card{
  border-radius: 10px;
  box-shadow: 0px 2px 15px #d1d5db;
  color: black;
}

.search-bar{
  margin-top: 25px;
  width: 40%;
}

.px-4{
  padding-top: 4vh;
}

.filters{
  float:left;
  border: solid black 1px;
  margin-left: 2vh;
  margin-right: 4vh;
  margin-top: 5vh;
  padding: 5px;
}