  /* html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  body > * {
    flex-shrink: 0;
  }
  
  h1{
    margin-top: 20px;
  }
  
  .top-nav {
    text-align: center;
    height: 70px;
    color: white;
    position: relative;
    background-color: #393646;
    border: white solid;
  }
  
  .top-block {
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: white solid;
    float: left;
    display: flex;
    width: 7.5%;
  }
  
  .top-link{
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .search {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 60vh;
  }
  
  .search-bar {
    width: 80%;
  }
  
  .user {
    height: 100%;
    width: fit-content;
    float: right;
    color: white;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-left: white solid;
  }
  
  .prof {
    height: 50%;
    width: 30%;
    margin-bottom: 5px;
    margin-left: 2vh;
  }
  
  .uname {
    width: 100%;
    margin-left: 10px;
    margin-top:3px;
    margin-right: 5px;
  }
  
  .down {
    height: 25%;
    width: 9%;
    margin-left: 1px;
    margin-top: 6px;
    margin-right: 2vh;
    background-color: white;
    border-radius: 30px;;
  }
  
  .cont {
    height: 100vh;
    display: flex;
  }
  
  .filter-box {
    background-color: #f7f6f6;
    color: black;
    margin-left: 40px;
    margin-top: 1.5%;
    height: fit-content;
    width: 12%;
    padding: 15px;
    border-radius: 20px;
  }
  
  .filter-form {
    margin-top: 10px;
  }
  
  input {
    margin-top: 8.5px;
    margin-bottom: 8.5px;
    margin-right: 10px;
  }
  
  .filter-btn {
    margin: auto; 
    display: block;
    margin-top: 15px;
    font-size: 13pt;
  }
  
  .filter-lbl {
    font-weight: bold;
  }
  
  .down2 {
    height: 5%;
    width: 9%;
    float: right;
    margin-top: 1px;
  }
  
  
  .serv-dash {
    padding-top: 34px;
    padding-left: 10px;
    width: 80%;
    margin-left: 5vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .service1 {
    padding-top: 7px;
    border: black solid 1px;
    width: 30%;
    height: fit-content;
    padding-right: 3px;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #9C9B9C;
    color: black;
    box-shadow: 4px 7px #585858;
  }
  
  .service1x {
    padding-top: 7px;
    border: black solid 1px;
    width: 30%;
    height: fit-content;
    padding-right: 3px;
    margin-left: 2%;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #9C9B9C;
    color: black;
    box-shadow: 4px 7px #585858;
  }
  
  
  
  .serv-lbl{
    font-weight: bold;
  }
  
  .serv-img {
    height: 50%;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
  }
  
  .serv-info {
    margin-left: 5%;
    margin-top: 2px;
    line-height: 22px;
  }
  
  .serv-sep {
    width: 70%;
    border: 1px grey dashed;
  }
  
  .serv-desc {
    margin-top: 5px;
    margin-right: 5px;
  }
  
  .book-serv {
    background-color: #ffa451;
    margin-top: 12px;
    margin-bottom: 13px;
    margin-right: 10%;
    border-radius: 25px;
    padding: 7px;
  }
  
  .book-link {
    font-weight: bold;
    font-size: 12pt;
    text-decoration: none;
    color: black;
  }
  
  .view-vendor {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5;
    background-color: #ffa451;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 25px;
    padding: 7px;
  }
  
  .page-nav {
    width: 100vh;
    margin-bottom: 35px;
    margin-top: 10px;
    padding-left: 25%;
  }
  
  .back {
    pointer-events: none;
    cursor: default;
    color: grey;
  }
  
  .next1 {
    pointer-events: none;
    cursor: default;
    color: grey;
  }
  
  .p1{
    pointer-events: none;
    cursor: default;
    color: grey;
  }
  
  .p21 {
    pointer-events: none;
    cursor: default;
    color: grey;
  }
  
  .filter-link {
    color: black;
    text-decoration: none;
  }
  
  .vend-link {
    color: black;
    text-decoration: none;
  }
  
  .back-btn {
    width: 8%;
    height: 20%;
  }
  
  .back-link {
    height: 100%;
    width: 100%;
    font: 72pt;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .err-box{
    border: solid black 1px;
    border-radius: 25px;
    box-shadow: 4px 7px #585858;
    background-color: #9C9B9C;
    margin-top: 5%;
    width: fit-content;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
  } */