/* author: Nandkumar Kadivar */

.admin-main {
    height: 100vh;
}
  
.header {
    height: 50px;
    z-index: 1 !important;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #1F2937;
    padding-left: 20px;
}

.dashboard-panel{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.dashboard-panel-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-panel-digit{
    font-size: 24px;
    font-weight: 500;
}

.dashboard-panel-label{
    font-weight: 500;
    font-size: 18px;
}

.dashboard-map-panel{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.admin-confirm-btn {
    background-color: #1F2937 !important;
}

.admin-cancel-btn {
    color: #1F2937 !important;
}

.admin-th {
    background-color: #1F2937 !important;
}

.admin-th-cell{
    color: #fff;
}

.Mui-selected {
    color: #1F2937 !important;
}

.css-1aquho2-MuiTabs-indicator{
    background-color: #1F2937 !important;
}

.admin-alerts {
    position: absolute;
    top: 65px;
    right: 10px;
    z-index: 100;
    background-color: #fff !important;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
