.landing-page{
    text-align: center;
    margin-top: 20px;
}

.landing-auth{
    background-color:lightgray;
    border-radius: 25px;
    width: 35%;
    border: solid black 1px;
    box-shadow: 4px 7px #585858;
    margin-top: 5vh;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hl{
    margin-bottom: 25px;
}

.username, .password{
    float: right;
    margin-right: 25px;
    height: 5%;
    width: 68%;
}

.landing-lbl{
    float:left;
    margin-left: 35px;
    margin-top:2px;
    font-weight: bold;
}

.landing-submit{
    margin-top: 3vh;
    border: solid black 1.5px;
    font-weight: bold;
    padding: 7px;
    border-radius: 25px;
    margin-bottom: 5vh;
    background-color: #ffa451;
}