.search-bar{
  margin-top: 25px;
  width: 40%;
}
.button-container {
  display: flex; /* Use flexbox to arrange button and filter side by side */
  justify-content: flex-start; /* Align them to the start of the container */
  align-items: center; /* Center vertically within the container */
  margin-top: -37px;
  padding-left:215px;
} 

 .create-service-button {
  position: relative;
  bottom: 10px; 
  left: 20px; 
} 

.filters{
  width: 31vh;
  float:left;
  box-shadow: 0px 2px 15px #d1d5db;
  border-radius: 25px;
  margin-left: 2vh;
  margin-right: 1vh;
  margin-top: 5vh;
  padding-left: 1vh;
  /* font-size: 2pt; */
}

.fltrs-dropdown{
width: 100%;
}

.accFltrs{
  font-size: 11pt;
  cursor: pointer;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: left;
  color: black;
}

.service-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px;
}


.service-card {
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

